[Unit]
Description=Vant GUI Web Server

[Service]
Type=simple
ExecStart=sudo serve -s build -p 80

Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/harry/vant-gui

[Install]
